<mat-toolbar color="primary" id="content">
  <span>Departments</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditDepForm()">
    Add Department
  </button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{
      company["companyName"] + " " + company["companyTrademark"]
    }}</mat-card-title>
    <mat-card-subtitle>{{ company["location"] }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="card-container">
  <mat-card class="example-card small-card" *ngFor="let obj of dataSource">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ obj["department"] }}</mat-card-title>
      </mat-card-title-group>
      <button mat-icon-button (click)="openEditDepForm(obj)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>
    <button mat-raised-button color="primary" routerLink="employee">
      Employee's
    </button>
  </mat-card>
</div>
<router-outlet></router-outlet>
