<mat-toolbar color="primary" id="content">
  <span>Departments</span>
  <span class="example-spacer"></span>
  <button mat-raised-button>Add Department</button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{
      company["companyName"] + " " + company["companyTrademark"]
    }}</mat-card-title>
    <mat-card-subtitle>{{ company["location"] }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<!-- <p>name</p>
<h1>{{ company["companyName"] + " " + company["companyTrademark"] }}</h1> -->
<!-- <p>name</p> -->
<!-- <h1>{{ company["location"] }}</h1>
<h1>{{ company["phoneNumber"] }}</h1> -->

<!-- <p>name</p> -->
